
%html
  %head

  %body
    .notification
    .wrapper
      .sidebar
        .header
          %h3{class: "header__name"} karimen
          %ul{class: "header__lists"}
            %li{class: "list"}
              %a{href: root_path } #{fa_icon "cog"}
            %li{class: "list"}
              %a{href: root_path } #{fa_icon "edit"}
        .groups
          .group
            %a{href: root_path }
              .group__name aaa
              .group__message こんにちはこんにちは
          .group
            %a{href: root_path }
              .group__name bbb
              .group__message おはようおはよう
      .chat
        .header
          .left-header
            .left-header__title まるまるグループ
            %ul{class: "left-header__members"}
              %li{class: "member"} karimen,
              %li{class: "member"} karimen,
              %li{class: "member"} karimen,
              %li{class: "member"} karimen
          .right-header
            %a{href: "right-header__button"} edit
        .messagers
          .upper-message
            .upper-message__user-name
            karimen
            .upper-message__date
            2018.7.16
          .lower-message
            .lower-message__content
            今日も愉快だな
        .form
