%head

%body
  .notification
  .wrapper
    .sidebar
      .header
        %h3{class: "header__name"}
        %ul{class: "header__lists"}
      .groups
        .group
    .chat
      .header
      .messagers
      .form
