.wrapper
  = render 'sidebar'
  .chat
    .header
      .left-header
        .left-header__title まるまるグループ
        %ul.left-header__members
          %li.member karimen,
          %li.member karimen,
          %li.member karimen,
          %li.member karimen
      .right-header
        = link_to "#", class: "right-header__button" do
          Edit
    = render 'messages/message'
    .form
      %form{action: "/", method: "post"}
        %textarea{class: "form__message", name: "text", placeholder: "type a message"}
        .form__image
          %label.upload-label{for: "upload-icon"}
            %i.fa.fa-picture-o
            %input{id: "upload-icon",type: "file", name: "datafile", multiple_accept: ".jpg,.gif,.png,image/gif,image/jpeg,image/png"}

        %input{class: "form__button", type: "submit", value: "Send"}
