@import "./reset";
@import "font-awesome";

input,button,textarea {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.notification {
  background-color: #38AEF0;
  height: 24px;
  width: 100vw;
}

.wrapper{
  height: 100vh;
  width: 100vw;
  .sidebar {
    background-color: #2f3e51;
    width: 300px;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
    box-sizing: border-box;
    .header {
      background-color: #253141;
      height: 100px;
      width: 300px;
      padding: 35px 20px 0;
      float: left;
      box-sizing: border-box;
        .header__name {
          color: #FFFFFF;
          font-size: 16px;
          font-weight: bold;
          float: left;
        }
        .header__lists {
          color: #FFFFFF;
          list-style: none;
          margin: 0;
          padding: 0;
          .list {
            float: right;
            margin: 0;
            letter-spacing: 5px;
          }
        }
    }
    .groups {
      .group {
        width: 300px;
        padding: 20px 20px 40px;
        height: 91px;
        float: left;
        box-sizing: border-box;
          .group__name {
            font-size: 15px;
            padding-bottom: 5px;
          }
          .group__message {
            font-size: 11px;
          }
      }
    }
  }
  .chat {
    background-color: #AAAAAA;
    width: calc(100vw - 300px);
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    float: right;
    .header {
      height: 100px;
      background-color: white;
      border-bottom: 2px solid #eeeeee;
      padding: 0 40px;
      .left-header {
        float: left;
        height: 35px;
        .left-header__title {
          color: #333333;
          font-size: 20px;
          margin-top: 35px;
          height: 20px;
          float: left;
        }
        .left-header__members {
          font-size: 12px;
          color: #999999;
          list-style: none;
          .member {
            float: left;
            padding-top: 15px;
          }
        }
      }
      .right-header {
        margin-top: 28px;
        line-height: 40px;
        padding: 0 20px;
        float: right;
        border: 1px solid #38AEF0;
        .right-header__button {
          color: #38AEF0;
        }
      }
    }
    .messagers {
      padding: 46px 40px 0;
      .upper-message {
        display: flex;
        flex-direction: row;
        .upper-message__user-name {
          font-size: 16px;
          font-weight: bold;
          color: #434A54;
        }
        .upper-message__date {
          padding-left: 10px;
          font-size: 12px;
          color: #999999;
        }
      }
      .lower-message {
        padding: 10px 0 40px;
        .lower-message__content {
          font-size: 14px;
          color: #434A54;
        }
      }
    }
    .form {
      width: calc(100vw - 300px);
      padding: 20px 40px;
      position: fixed;
      bottom: 0;
      background-color: #999999;
      box-sizing: border-box;
      .form__message {
        font-size: 16px;
        line-height: 50px;
        height: 50px;
        width: calc(100% - 150px);
        padding: 0 10px;
        background-color: white;
        box-sizing: border-box;
        float: left;
      }
      .form__message:focus {
        box-shadow:0px 0px 5px 3px rgba(0, 0, 0, 0.2), 0px 0px 5px 3px rgba(0, 0, 0, 0.2) inset;
        border: 2px solid #38AFE0;
      }
      .form__image {
        display: inline-block;
        height: 50px;
        width: 30px;
        background-color: white;
        margin: 0;
        float: left;
        box-sizing: border-box;
        position: relative;
        .fa.fa-picture-o {
          font-size: 20px;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          margin: auto 0 ;
          line-height: 50px;
          vertical-align: bottom;
        }
        .filesend {
          line-height: 50px;
          position: absolute;
          left: -25px;
          right: 0;
          bottom: 0;
          top: 0;
          opacity: 0;
        }
      }
      .form__button {
        height: 50px;
        width: 100px;
        background-color: #38AEF0;
        color: #FFFFFF;
        margin-left: 15px;
        box-sizing: border-box;
        float: right;
      }
    }
  }
}
